//Colors Palette
$light-peach: #f3a683;
$peach: #f19066;
$light-summer:#f7d794;
$summer:#f5cd79;
$light-purple:#786fa6;
$purple:#574b90;
$light-flamingo:#f8a5c2;
$flamingo:#f78fb3;
$light-blue:#63cdda;
$blue:#3dc1d3;
$light-gray:#596275;
$gray:#303952;
$light-leaf:#55efc4;
$leaf:#00b894;
$white: #fff;
$black: #000;