.header {
    display:flex;
    align-items: center;
    height:50px;
    background-color: $light-leaf;
}

.formAutenticacao {
    width: 100%;
    padding:30px;
    margin:20vh 0;

    form > div {
        margin: 20px 0;
    }
}

.logo {
    width:100%;
    img {
        display:block;
        max-width: 200px;
        padding: 10px;
        &.center{
            margin:auto;
        }
    }
}