*{-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}body{max-width:100vw;overflow-x:hidden}#root{min-height:100vh}.header{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:50px;background-color:#55efc4}.formAutenticacao{width:100%;padding:30px;margin:20vh 0}.formAutenticacao form>div{margin:20px 0}.logo{width:100%}.logo img{display:block;max-width:200px;padding:10px}.logo img.center{margin:auto}#root main{max-width:90vw;margin-left:5vw;padding-top:30px}
